body {
  background-color: #0d0d0d;
  color: #66ccff;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 5px;
  text-align: center;
}

div {
  outline-style: solid;
  outline-color: #66ccff;
  outline-width: 2px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

button {
  color: rgb(111, 154, 254);
  display: inline-block;
}

input[type="text"] {
  display: block;
  width: 100%;
  height: 20pt;
}

input[type="range"] {
  height: 20px;
}

#content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#maintext {
  font-weight: 100 !important;
}

/* controls */
#buttondiv {
  display: inline-block;
}

#fixationlabel {
  margin: auto;
  margin-top: 10px;
}

.statictext {
  font-size: smaller;
  margin: auto;
}

.inlinep {
  display: inline-block;
  margin: 10px 10px 10px;
}

.organizerp {
  margin: 10px 10px 20px;
}

/* emphasised fixations */
.emfix {
}