@font-face {
    font-family: 'rothenburg_decorativenormal';
    src: url('rothenbg-webfont.eot');
    src: url('rothenbg-webfont.eot?#iefix') format('embedded-opentype'),
         url('rothenbg-webfont.woff2') format('woff2'),
         url('rothenbg-webfont.woff') format('woff'),
         url('rothenbg-webfont.ttf') format('truetype'),
         url('rothenbg-webfont.svg#rothenburg_decorativenormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

