body {
  font-family: 'Orbitron', sans-serif;
  font-size: 5vh;
  background-color: #222222;
  color: lightblue;
  text-align: center;
}
h1 {
  color: red;
  margin: 0;
}

div {
  padding: 20px;
  padding-top: 0;
  border: 1px solid lightblue;
  background-color: #111111;
}
select {
  font-family: 'Orbitron', sans-serif;
  font-size: 5vh;
  color: lightblue;
  background-color: #222222;
  border-color: lightblue;
}
button {
  padding: 20px;
  font-family: 'Orbitron', sans-serif;
  font-size: 20vh;
  color: lightblue;
  background-color: #222222;
  outline-color: lightblue;
  border-color: lightblue;
}
#maindiv {
  
  margin: auto;
  border-style: double;
  border-color: lightblue;
  border-width: 5px;
}
#clockRemaining {
  font-size: 10vh;
}
#go {
  margin-top: 30px;
  margin-bottom: 10px;
}
#controls {
  border: none;
}
#timeRemaining {
  font-size: 20vh;
  margin: 0;
}
#mobile {
  font-size: 10px;
  padding: 5px;
  position: absolute;
  right: 30px;
  top: 30px;
}