body {
  font-family: 'Orbitron', sans-serif;
  background-color: #222222;
  color: lightblue;
  text-align: center;
}
h1 {
  color: red;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
}
div {
  padding: 20px;
  padding-top: 0;
  align-content: center;
  border: 1px;
  background-color: #111111;
}
select {
  font-family: 'Orbitron', sans-serif;
  color: lightblue;
  background-color: #222222;
  border-color: lightblue;
}
button {
  padding: 20px;
  font-family: 'Orbitron', sans-serif;
  color: lightblue;
  background-color: #222222;
  outline-color: lightblue;
  border-color: lightblue;
}
#mainDiv {
  width: 50%;
  margin: auto;
  border-style: double;
  border-color: lightblue;
  border-width: 5px;
}
#clockRemaining {
  font-size: 30px;
}
#go {
  margin: 0 auto;
  display: block;
}
#resume {
  visibility: hidden;
}