.colorwhite {
  color: #ffffff;
}
.colorgrey {
  color: #727272;
}
.colordarkgrey {
  color: #383838;
}
.colorblack {
  color: #1d1d1d;
}
.colorred {
  color: #ff0000;
}
.colordarkred {
  color: #801818;
}
.colorblue {
  color: #46b5ff;
}
.colordarkblue {
  color: #1a5f97;
}
.colorgreen {
  color: #26e23f;
}
.colordarkgreen {
  color: #116b1d;
}
.coloryellow {
  color: #fffb16;
}
.colordarkyellow {
  color: #c0a300;
}